body{
    margin:0px;
   font-size:2em;
   color:black;
   background-image: url(Images/2114.jpg);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}

.navbar ul{
    margin:0px;
    padding:0;
    list-style-type: none;
    overflow:hidden;
    gap:20px;
}

.navbar a{
    color:rgb(117, 36, 36);
    text-decoration:none;
    padding:20px;
    left:50px;
    display:block;
    text-align:center;
}

.navbar a:hover{
    background-color:hsl(0, 0%, 10%)
}

.navbar li{
    float:right;
}
header{
  text-align:center;
  border-radius:8px;
  object-fit: cover; 
  width:100%;
  height:auto;
  color:black;
}



.hero{
    position:relative;
    height:20px;
    width:400px;
    overflow: hidden;
}


.hero-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    text-align:center;
}

.Wrapper{
  padding: 0 15px;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-around;
  gap: 5rem;
}

.card-container{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:100px;
}

.card{
    width:325px;
    background-color:#f0f0f0;
    border-radius:18px;
    overflow:hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img{
    width:100%;
    height:auto;
}

.card-content{
    padding:16px;
}


.card-content h3{
    font-size:28px;
    margin-bottom:8px;
}

.card-content p{
    color:#666;
    font-size:15px;
    line-height:1.3;
}

.card-content btn{
    display:inline-block;
    padding:8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius:4px;
    margin-top:16px;
    color:#fff;
}

.card-content :hover{
    cursor:pointer;
    background-color: #581414;
}

.card :hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.Btn{
    align-items:center;
    background-color: #333;
    padding:18px 16px;
    text-decoration: none;
    border-radius:5px;
    margin-top:16px;
    color:#fff;
    font-size: 25px;
}

.btn:hover{
    cursor:pointer;
}

.blockquote{
    background-color:rgb(182, 106, 182);
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    border-left: 8px solid #3b82f6;
    font-style:italic;
    border-radius:6px;
}

.footer{
    color:white;
    background-color: rgb(211, 155, 202);
} 

.form{
    margin:20px;
    color:#eee;
}

form p{
    font-size: 18px;
    letter-spacing: 0.1em;
}

input[type="radio"]{
    opacity:0;
    width:0;
    margin:0;
}

label[for="male"], label[for="female"]{
    margin-bottom: 10px;
    display:inline-block;
    padding-left:26px;
    line-height:24px;
    cursor:pointer;
}

input:checked + label[for="male"],
input:checked + label[for="female"],{
    background-position: none;
    color: #ce1010;
}


@media all and (max-width:500px) {
    body{
        color:blue;
        font-style: italic;
    }
}

.social-icons a {
  color: #fff;
  margin: 0 12px;
  font-size: 24px;
  display: inline-block;
  transition: transform 0.2s, color 0.2s;
}

.social-icons a:hover {
  color: #00aced; /* change color on hover (example: Twitter blue) */
  transform: scale(1.2);
}

.trial{
    width:100%;
    height:800px;
}

.trial img{
    border-radius:8px;
    width:100%;
    height:100%;
    object-fit:cover;
}